{
    # Caddy 글로벌 설정
    admin off
    # 로컬 인증서 설정
    local_certs
}

api.grantly.work {
    # API 서버로 리버스 프록시
    reverse_proxy grantly-backend:6000

    # 로깅 설정
    log {
        output file /var/log/caddy/access.log
    }

    # gzip 압축
    encode gzip

    # 인증서 설정
    tls /etc/caddy/cert/grantly.work+1.pem /etc/caddy/cert/grantly.work+1-key.pem

    # 파일 서빙
    handle_path /storage* {
        root * ../../../storage
        file_server
    }
}

grantly.work {
    # API 서버로 리버스 프록시
    reverse_proxy grantly-frontend:6001

    # 로깅 설정
    log {
        output file /var/log/caddy/access.log
    }

    # gzip 압축
    encode gzip

    # 인증서 설정
    tls /etc/caddy/cert/grantly.work+1.pem /etc/caddy/cert/grantly.work+1-key.pem
}

grafana.grantly.work {
    # API 서버로 리버스 프록시
    reverse_proxy grantly-grafana:6600

    # 로깅 설정
    log {
        output file /var/log/caddy/access.log
    }

    # gzip 압축
    encode gzip

    # 인증서 설정
    tls /etc/caddy/cert/grantly.work+1.pem /etc/caddy/cert/grantly.work+1-key.pem
}