<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 기본 속성 설정 -->
    <property name="LOG_PATTERN"
        value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %yellow([%X{requestId}]) %magenta([%thread]) %cyan(%logger{36}) %blue([%method:%line]) - %msg%n"/>

    <!-- 콘솔 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 기본 로그 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- 개발 환경 설정 -->
    <springProfile name="local,dev">
        <logger name="grantly" level="DEBUG"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
    </springProfile>

    <!-- 운영 환경 설정 -->
    <springProfile name="prod">
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>
    </springProfile>
</configuration>